[submodule "src/plugins/sing/so_vits_svc"]
	path = src/plugins/sing/so_vits_svc
	url = https://github.com/MistEO/so-vits-svc.git
	branch = 32k
[submodule "src/plugins/chat/ChatRWKV"]
	path = src/plugins/chat/ChatRWKV
	url = https://github.com/MistEO/ChatRWKV.git
